<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/static/cupcakes.css'>
    <title>Cupcakes</title>
</head>
<body>
    <h1>Cupcakes:</h1>

    <ul class='cupcakes'></ul>

    <form id='cupcake-form'>
        <div>
            <label for='flavor'>Flavor:</label>
            <input name='flavor' id='flavor'>
        </div>

        <div>
            <label for='size'>Size:</label>
            <input name='size' id='size'>
        </div>

        <div>
            <label for='rating'>Rating:</label>
            <input name='rating' id='rating'>
        </div>

        <div>
            <label for='image'>Image URL:</label>
            <input name='image' id='image'>
        </div>

        <button class='button'>Add Cupcake</button>
    </form>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src='/static/cupcakes.js'></script>
</body>
</html>